<!DOCTYPE html>
<html>
  <head>
    <title>SHUBHAM</title>
  </head>
  <body>
    <center><h1>CAREERS</h1></center>
    <img src='https://f7f4b746-2f43-4dae-9d04-7c982043ba91-00-32f62ysppjyvv.pike.replit.dev/static/jobs.jpeg' height='320'>
   <center> <h2>About Careers</h2> </center> 
   
    <p>Themes and styles also help keep your document coordinated. When you click Design and choose a new Theme, the pictures, charts, and SmartArt graphics change to match your new theme. When you apply styles, your headings change to match the new theme.Video provides a powerful way to help you prove your point. When you click Online Video, you can paste in the embed code for the video you want to add. You can also type a keyword to search online for the video that best fits your document.
      To make your document look professionally produced, Word provides header, footer, cover page, and text box designs that complement each other. For example, you can add a matching cover page, header, and sidebar. Click Insert and then choose the elements you want from the different galleries.
      Themes and styles also help keep your document coordinated. When you click Design and choose a new Theme, the pictures, charts, and SmartArt graphics change to match your new theme. When you apply styles, your headings change to match the new theme.

</p>
    <center><h2>Open Positions</h2> </center>
    <p>TODO - Show the jobs here</p>
    <center><button>Contact Us</button></center>
  </body>
</html>